<section id="build-container">
  <app-nav
    [concept]="concept"
    [size]="size"
    [qa]="true">
  </app-nav>
  <iframe
    #iframe frameborder="0"
    [ngClass]="{'iframe300x250':size==='300x250', 'iframe300x600':size==='300x600', 'iframe728x90':size==='728x90', 'iframe160x600':size==='160x600', 'iframe970x66':size==='970x66', 'iframe1280x100':size==='1280x100'}">
  </iframe>
  <app-controlers
    [size]="size"
    [time] = "time"
    [speed] = "speed"
    [progress] = "progress"
    (play)="play()"
    (pause)="pause()"
    (reverse)="reverse()"
    (resume)="resume()"
    (restart)="restart()"
    (timeSlider)="progressScale($event)"
    (speedSlider)="speedScale($event)">
  </app-controlers>
</section>