@import "resets.css";
@import url('https://fonts.googleapis.com/css?family=Lato:400,800');

/* Main */

body {
    background-color: #ccc;
}
#wrapper {
    width: 728px;
    height: 90px;
    overflow: hidden;
    position: absolute;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
}
#banner {
    width: 728px;
    height: 90px;
    overflow: hidden;
    perspective: 728px;
}


/* Frames */

#base, #mask, #bg, #black, #spot1, #spot2, #spot3, #spot4, #text1, #text2, #text3, #text4, #text5, #text6, #ipf, #at, #breathless, #copy, #cta, #logo, #click-area {
    position: absolute;
}
#base, #mask, #spot1, #spot2, #spot3, #spot4, #text1, #text2, #text3, #text4, #text5, #text6, #ipf, #cta, #at, #breathless, #copy, #logo {
    opacity: 0;
}
.spot {
    position: absolute;
    width: 728px;
    height: 90px;
    line-height: 18px;
}
.spot p {
    font-weight: 800;
    position: absolute;
    text-align: center;
    color: rgba(56, 56, 56, .8);
}
#spot1 {
    background-image: url('../img/spot1.jpg');
    font-size: 14px;
}
#spot1 p {
    bottom: 15px;
    right: 33px;
}
#spot2 {
    background-image: url('../img/spot2.jpg');
}
#spot2 p {
    position: absolute;
    bottom: 57px;
    left: 27px;
}
#spot3 {
    background-image: url('../img/spot3.jpg');
}
#spot3 p {
    top: 14px;
    right: 24px;
}
#spot4 {
    background-image: url('../img/spot4.jpg');
}
#spot4 p {
    top: 47px;
    left: 81px;
}
#bg {
    background: -webkit-linear-gradient(top, #8ac87d 0%,#54af8e 100%);
    background: linear-gradient(to bottom, #8ac87d 0%,#54af8e 100%);
    width: 728px;
    height: 90px;
}
#black {
    background-color: #000;
    width: 728px;
    height: 90px;
}
.text {
    font-size: 18px;
    line-height: 24px;
    text-align: center;
}
.text p span {
    font-weight: 800;
}
#text1 {
    top: 34px;
    left: 270px;
}
#text2 {
    top: 34px;
    left: 112px;
}
#text3 {
    top: 34px;
    left: 182px;
}
#text4 {
    top: 34px;
    left: 216px;
}
#text5 {
    top: 0;
    left: 0;
    width: 728px;
    height: 90px;
}
#ipf {
    top: 9px;
    left: 186px;
    width: 140px;
    height: 74px;
    background-image: url('../img/ipf.png');
}
#text6 {
    top: 20px;
    left: 23px;
    font-size: 21px;
    text-align: right;
}
#at {
    top: 54px;
    left: 315px;
    font-size: 21px;
}
#breathless {
    top: 57px;
    left: 228px;
    width: 114px;
    height: 18px;
    background-image: url('../img/breathless.png');
}
#logo {
    top: 60px;
    left: 545px;
    width: 66px;
    height: 20px;
    background-image: url('../img/bi-logo.svg');
}
#copy {
    font-family: Arial;
    font-size: 9px;
    top: 88px;
    left: 546px;
    line-height: normal;
}
#cta {
    top: 14px;
    left: 346px;
    width: 114px;
    height: 30px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    color: #004249;
    border-radius: 15px;
    text-align: center;
    line-height: 32px;
    background: #fff url(../img/arrow.png) right 6px center no-repeat;
    font-size: 12px;
    font-weight: 900;
    padding-right: 13px;
    letter-spacing: 0.4px;
    padding-left: 1px;
}

#click-area {
  width: 728px;
  height: 90px;
  background-color: rgba(0, 0, 0, 0);
}

@-moz-document url-prefix() {
    #copy {
        line-height: 11px;
    }
}
